Repository IntelPython/scikit-learn_bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @ethanglaser, @razdoburdin

.github/CODEOWNERS:

# benchmarking config files
configs                    @Alexsandruss
configs/spmd/*             @ethanglaser
configs/regular/xgboost*   @razdoburdin
# sklbench implementation and associated docs
sklbench                   @Alexsandruss
# all documentation files
*.md                       @Alexsandruss
# dependencies files
requirements*.txt          @Alexsandruss @ethanglaser
conda-env-*.yml            @Alexsandruss @ethanglaser
# repository utilities
/.*                        @Alexsandruss
/*.yml                     @Alexsandruss
/*.toml                    @Alexsandruss

perf: enrich result to include raw_input status
  sklbench/benchmarks/common.py
Owners: @Alexsandruss

add svm config
  configs/spmd/large_scale/svc.json
Owners: @Alexsandruss

Update kmeans_wide_weak.json
  configs/spmd/large_scale/kmeans_wide_weak.json
Owners: @Alexsandruss

add knn regression spmd config
  configs/spmd/large_scale/knnreg_tier1.json
Owners: @Alexsandruss

Avoid patch warning when spmd estimator is used
  sklbench/benchmarks/sklearn_estimator.py
Owners: @Alexsandruss

Updated number of clusters.
  configs/spmd/large_scale/kmeans_strong.json
Owners: @Alexsandruss

Add forestreg, online spmd, and remove patch warnings
  configs/spmd/large_scale/dbscan.json
  configs/spmd/large_scale/dbscan_strong.json
  configs/spmd/large_scale/forest_max_samples.json
  configs/spmd/large_scale/forest_no_max_samples.json
  configs/spmd/large_scale/forest_strong.json
  configs/spmd/large_scale/forestreg.json
  configs/spmd/large_scale/incremental.json
  configs/spmd/large_scale/incremental_spmd.json
Owners: @Alexsandruss

add svm bf16 config
  configs/regular/bf16/svm.json
Owners: @Alexsandruss

svm bf16 inclusion path fix
  configs/regular/bf16/svm.json
Owners: @Alexsandruss

Remove online inference mode mentions
  configs/BENCH-CONFIG-SPEC.md
  configs/sklearn_example.json
  sklbench/emulators/svs/neighbors.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Set upper limit for sklearn version
  envs/conda-env-sklearn.yml
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser

Align incremental spmd config with report
  configs/spmd/large_scale/incremental_spmd.json
Owners: @Alexsandruss

forest updates for local_trees_mode
  configs/spmd/large_scale/forest.json
  configs/spmd/large_scale/forest_max_samples.json
  configs/spmd/large_scale/forest_no_max_samples.json
  sklbench/benchmarks/sklearn_estimator.py
Owners: @Alexsandruss

forest reg with local trees mode
  configs/spmd/large_scale/forestreg.json
Owners: @Alexsandruss

Re-add original forest config for reproducer
  configs/spmd/large_scale/forest_original.json
Owners: @Alexsandruss

Update PR template
  .github/pull_request_template.md
Owners: @Alexsandruss

Update PR template (#187)
  .github/pull_request_template.md
Owners: @Alexsandruss

Apply TSNE n_iter -> max_iter renaming
  configs/regular/tsne.json
  configs/testing/azure-pipelines-ci.json
Owners: @Alexsandruss

Apply TSNE n_iter -> max_iter renaming (#188)
  configs/regular/tsne.json
  configs/testing/azure-pipelines-ci.json
Owners: @Alexsandruss

Update benchmarking scopes
  configs/common/dbscan.json
  configs/common/ensemble.json
  configs/common/kmeans.json
  configs/common/knn.json
  configs/common/lightgbm.json
  configs/common/linear_model.json
  configs/common/logreg.json
  configs/common/pca.json
  configs/common/sklearn.json
  configs/common/svm.json
  configs/common/train_test_split.json
  configs/common/tsne.json
  configs/common/xgboost.json
  configs/regular/dbscan.json
  configs/regular/ensemble.json
  configs/regular/kmeans.json
  configs/regular/lightgbm.json
  configs/regular/logreg.json
  configs/regular/xgboost_binary.json
  configs/regular/xgboost_multi.json
  configs/regular/xgboost_regression.json
  configs/spmd/dbscan.json
  configs/spmd/ensemble.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linear_model.json
  configs/spmd/logreg.json
  configs/spmd/pca.json
  configs/weekly/dbscan.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/knn.json
  configs/weekly/linear_model.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  configs/weekly/tsne.json
Owners: @Alexsandruss, @razdoburdin, @ethanglaser

Remove non-synthetic datasets from CI run to avoid overloading of external data sources
  configs/sklearn_example.json
  configs/testing/azure-pipelines-ci.json
  test-configuration-linux.yml
  test-configuration-win.yml
Owners: @Alexsandruss

Fix CLI arguments
  test-configuration-linux.yml
  test-configuration-win.yml
Owners: @Alexsandruss

Fix PARAMETER_SETS CI failure
  configs/regular/lightgbm.json
Owners: @Alexsandruss

Fix PARAMETER_SETS CI failure (#189)
  configs/regular/lightgbm.json
Owners: @Alexsandruss

updated knn search and forest configs
  configs/spmd/large_scale/forest.json
  configs/spmd/large_scale/forestreg.json
  configs/spmd/large_scale/knnsearch_tier1.json
Owners: @Alexsandruss

minor revisions to support benchmarking large scale
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Revert "Set upper limit for sklearn version"
  envs/conda-env-sklearn.yml
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser

Updates and fixes
  README.md
  configs/BENCH-CONFIG-SPEC.md
  configs/README.md
  configs/experiments/README.md
  sklbench/benchmarks/common.py
  sklbench/benchmarks/custom_function.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/README.md
  sklbench/datasets/__init__.py
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
  sklbench/datasets/transformer.py
  sklbench/emulators/svs/neighbors.py
  sklbench/report/arguments.py
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/runner/commands_helper.py
  sklbench/runner/implementation.py
  sklbench/utils/bench_case.py
  sklbench/utils/config.py
  sklbench/utils/custom_types.py
  sklbench/utils/env.py
  sklbench/utils/logger.py
  sklbench/utils/measurement.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss

Set upper limit for sklearn version
  envs/conda-env-sklearn.yml
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser

Fix cpuinfo usage on Windows
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Remove online inference mode mentions
  configs/BENCH-CONFIG-SPEC.md
  configs/sklearn_example.json
  sklbench/emulators/svs/neighbors.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Fix shell issues reported by CodeFactor
  sklbench/utils/env.py
Owners: @Alexsandruss

Remove Kaggle dataset source
  configs/regular/xgboost_binary.json
  configs/weekly/pca.json
  configs/weekly/train_test_split.json
  envs/conda-env-rapids.yml
  envs/conda-env-sklearn.yml
  envs/requirements-sklearn.txt
  sklbench/datasets/README.md
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
Owners: @razdoburdin, @Alexsandruss, @ethanglaser

Update Python versions matrix in CI
  azure-pipelines.yml
Owners: @Alexsandruss

Update pre-commit config
  .pre-commit-config.yaml
Owners: @Alexsandruss

Fix Windows subprocess issue
  sklbench/utils/env.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Remove py313 testing
  azure-pipelines.yml
Owners: @Alexsandruss

New perf. metrics, stability and other improvements (#184)
  .pre-commit-config.yaml
  README.md
  azure-pipelines.yml
  configs/BENCH-CONFIG-SPEC.md
  configs/README.md
  configs/experiments/README.md
  configs/regular/xgboost_binary.json
  configs/sklearn_example.json
  configs/weekly/pca.json
  configs/weekly/train_test_split.json
  envs/conda-env-rapids.yml
  envs/conda-env-sklearn.yml
  envs/requirements-sklearn.txt
  sklbench/benchmarks/common.py
  sklbench/benchmarks/custom_function.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/__init__.py
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
  sklbench/datasets/transformer.py
  sklbench/emulators/svs/neighbors.py
  sklbench/report/arguments.py
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/runner/commands_helper.py
  sklbench/runner/implementation.py
  sklbench/utils/bench_case.py
  sklbench/utils/config.py
  sklbench/utils/custom_types.py
  sklbench/utils/env.py
  sklbench/utils/logger.py
  sklbench/utils/measurement.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss, @razdoburdin, @ethanglaser

change data processing and regularization so that models end up converging
  configs/regular/logreg.json
  pyproject.toml
  sklbench/datasets/loaders.py
Owners: @Alexsandruss

expand PCA sizes
  configs/common/pca.json
  configs/regular/pca.json
Owners: @Alexsandruss
