Repository IntelPython/scikit-learn_bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @ethanglaser, @razdoburdin

.github/CODEOWNERS:

# benchmarking config files
configs                    @Alexsandruss
configs/spmd/*             @ethanglaser
configs/regular/xgboost*   @razdoburdin
# sklbench implementation and associated docs
sklbench                   @Alexsandruss
# all documentation files
*.md                       @Alexsandruss
# dependencies files
requirements*.txt          @Alexsandruss @ethanglaser
conda-env-*.yml            @Alexsandruss @ethanglaser
# repository utilities
/.*                        @Alexsandruss
/*.yml                     @Alexsandruss
/*.toml                    @Alexsandruss

initial alignment of configs to final results (#176)
  configs/incremental.json
  configs/spmd/large_scale/basic_stats.json
  configs/spmd/large_scale/basic_stats_strong.json
  configs/spmd/large_scale/covariance.json
  configs/spmd/large_scale/covariance_strong.json
  configs/spmd/large_scale/dbscan.json
  configs/spmd/large_scale/dbscan_strong.json
  configs/spmd/large_scale/forest_max_samples.json
  configs/spmd/large_scale/forest_no_max_samples.json
  configs/spmd/large_scale/incremental.json
  configs/spmd/large_scale/incremental/basic_stats.json
  configs/spmd/large_scale/incremental/covariance.json
  configs/spmd/large_scale/incremental/linear_model.json
  configs/spmd/large_scale/incremental/pca.json
  configs/spmd/large_scale/knn_strong.json
  configs/spmd/large_scale/knn_tier1.json
  configs/spmd/large_scale/knn_tier2.json
  configs/spmd/large_scale/linreg.json
  configs/spmd/large_scale/linreg_strong.json
  configs/spmd/large_scale/logreg.json
  configs/spmd/large_scale/logreg_strong.json
  configs/spmd/large_scale/pca.json
  configs/spmd/large_scale/pca_strong.json
  configs/spmd/large_scale/spmd_for_online.json
  configs/spmd/large_scale/spmd_for_online_strong.json
  sklbench/benchmarks/custom_function.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/transformer.py
  sklbench/utils/measurement.py
  test-configuration-linux.yml
  test-configuration-win.yml
Owners: @Alexsandruss

Revert "Removed environment from diff."
  sklbench/report/implementation.py
Owners: @Alexsandruss

Removed extra code for sample_shift.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Changes for sample_shift.
  configs/README.md
Owners: @Alexsandruss

Updated sample shift.
  configs/README.md
Owners: @Alexsandruss

Updated sample shift.
  configs/README.md
Owners: @Alexsandruss

Removed extra code.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Added comment for sample_shift.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Added back in x_train in sample_shift.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Updated description of sample_shift.
  configs/README.md
Owners: @Alexsandruss

Added predict back in.
  configs/spmd/large_scale/kmeans_narrow_weak.json
  configs/spmd/large_scale/kmeans_wide_weak.json
Owners: @Alexsandruss

Support incremental benchmarking of datasets larger than memory
  configs/README.md
  configs/sklearnex_incremental_example.json
  sklbench/report/implementation.py
  test-configuration-linux.yml
  test-configuration-win.yml
Owners: @Alexsandruss

black
  sklbench/benchmarks/sklearn_estimator.py
Owners: @Alexsandruss

fix logreg strong
  configs/spmd/large_scale/logreg_strong.json
Owners: @Alexsandruss

align pca and knn bf16 configs
  configs/regular/bf16/knn.json
  configs/regular/bf16/pca.json
Owners: @Alexsandruss

more knn alignment bf16
  configs/regular/bf16/knn.json
Owners: @Alexsandruss

minor followup
  configs/regular/bf16/knn.json
Owners: @Alexsandruss

Updates for reproducer matching.
  configs/spmd/large_scale/kmeans_narrow_weak.json
  configs/spmd/large_scale/kmeans_strong.json
  configs/spmd/large_scale/kmeans_wide_weak.json
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Updated configs.
  configs/spmd/large_scale/kmeans_narrow_weak.json
  configs/spmd/large_scale/kmeans_strong.json
  configs/spmd/large_scale/kmeans_wide_weak.json
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Create refactoring_of_benchmarks.py
  refactoring_of_benchmarks.py
Owners: none

Create compilation_frameworks.py
  compilation_frameworks.py
Owners: none

Update example commands in README
  README.md
Owners: @Alexsandruss

Add estimator filter example
  README.md
Owners: @Alexsandruss

Updated Kmeans Wide not to use a sample shift.
  configs/spmd/large_scale/kmeans_wide_weak.json
Owners: @Alexsandruss

Support incremental benchmarking of datasets larger than memory + final config/logic alignment (#180)
  configs/README.md
  configs/regular/bf16/knn.json
  configs/regular/bf16/pca.json
  configs/spmd/large_scale/logreg_strong.json
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Change test confs location
  .ci/pipeline/test-configuration-linux.yml
  .ci/pipeline/test-configuration-win.yml
  azure-pipelines.yml
Owners: @Alexsandruss

Fix template name
  azure-pipelines.yml
Owners: @Alexsandruss

Change matrix specification way
  .ci/pipeline/test-matrix.yml
  azure-pipelines.yml
Owners: @Alexsandruss

Revert "Change matrix specification way"
  .ci/pipeline/test-matrix.yml
  azure-pipelines.yml
Owners: @Alexsandruss

Change matrix specification way - trial 2
  .ci/pipeline/test-matrix.yml
  azure-pipelines.yml
Owners: @Alexsandruss

Revert "Change matrix specification way - trial 2"
  .ci/pipeline/test-matrix.yml
  azure-pipelines.yml
Owners: @Alexsandruss

Move CI conf
  .ci/pipeline/ci.yml
Owners: @Alexsandruss

Updates and fixes
  README.md
  configs/BENCH-CONFIG-SPEC.md
  configs/README.md
  configs/experiments/README.md
  sklbench/benchmarks/common.py
  sklbench/benchmarks/custom_function.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/README.md
  sklbench/datasets/__init__.py
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
  sklbench/datasets/transformer.py
  sklbench/emulators/svs/neighbors.py
  sklbench/report/arguments.py
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/runner/commands_helper.py
  sklbench/runner/implementation.py
  sklbench/utils/bench_case.py
  sklbench/utils/config.py
  sklbench/utils/custom_types.py
  sklbench/utils/env.py
  sklbench/utils/logger.py
  sklbench/utils/measurement.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss

Update benchmarking scopes
  configs/common/dbscan.json
  configs/common/ensemble.json
  configs/common/kmeans.json
  configs/common/knn.json
  configs/common/lightgbm.json
  configs/common/linear_model.json
  configs/common/logreg.json
  configs/common/pca.json
  configs/common/sklearn.json
  configs/common/svm.json
  configs/common/train_test_split.json
  configs/common/tsne.json
  configs/common/xgboost.json
  configs/regular/dbscan.json
  configs/regular/ensemble.json
  configs/regular/kmeans.json
  configs/regular/lightgbm.json
  configs/regular/logreg.json
  configs/regular/xgboost_binary.json
  configs/regular/xgboost_multi.json
  configs/regular/xgboost_regression.json
  configs/spmd/dbscan.json
  configs/spmd/ensemble.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linear_model.json
  configs/spmd/logreg.json
  configs/spmd/pca.json
  configs/weekly/dbscan.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/knn.json
  configs/weekly/linear_model.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  configs/weekly/tsne.json
Owners: @Alexsandruss, @razdoburdin, @ethanglaser

Fix cpuinfo usage on Windows
  sklbench/utils/measurement.py
Owners: @Alexsandruss

broad config
  configs/spmd/large_scale/full.json
Owners: @Alexsandruss

use impi temporarily
  configs/spmd/large_scale/full.json
  configs/spmd/large_scale/large_scale.json
Owners: @Alexsandruss

add mpi requirements
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser

impi-devel instead of impi_rt
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser

remove impi+mpi4py (added to infra)
  envs/requirements-sklearn.txt
Owners: @Alexsandruss, @ethanglaser
