Repository IntelPython/scikit-learn_bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @ethanglaser, @razdoburdin

Changes for datetime representation Unresolved comment '# TODO: replace unix time in ms with datetime'.
  sklbench/runner/commands_helper.py
Owners: @Alexsandruss

feat: Add additional data descriptors to benchmark results
  sklbench/benchmarks/custom_function.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Added updated configs.
  configs/spmd/kmeans_strong.json
  configs/spmd/kmeans_wide_weak.json
  configs/spmd/kmeans_wide_weak.json.backup
  configs/spmd/large_scale.json
Owners: @ethanglaser

Added shift.
  configs/spmd/kmeans_wide_weak.json
  sklbench/datasets/transformer.py
Owners: @ethanglaser, @Alexsandruss

Added center box.
  sklbench/datasets/__init__.py
Owners: @Alexsandruss

remove batch_size logic from incremental benchmarking for num_batches
  configs/README.md
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/report/implementation.py
Owners: @Alexsandruss

Removed the inertia for Kmeans.
  sklbench/benchmarks/sklearn_estimator.py
Owners: @Alexsandruss

fixed config locations.
  configs/spmd/kmeans_wide_weak.json.backup
  configs/spmd/large_scale/kmeans_wide_weak.json
Owners: @ethanglaser, @Alexsandruss

Updated configs.
  configs/spmd/large_scale/kmeans_narrow_weak.json
Owners: @Alexsandruss

Moved large scale files.
  configs/spmd/kmeans_strong.json
  configs/spmd/large_scale.json
Owners: @ethanglaser

Added line.
  configs/spmd/large_scale/kmeans_narrow_weak.json
Owners: @Alexsandruss

Added large scale 2k parameters sample shift
  configs/spmd/large_scale/large_scale.json
Owners: @Alexsandruss

Fixed imports.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Updated format.
  sklbench/datasets/__init__.py
  sklbench/datasets/transformer.py
  sklbench/utils/common.py
Owners: @Alexsandruss

Added the math import.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

initial alignment of configs to final results
  configs/spmd/large_scale/basic_stats.json
  configs/spmd/large_scale/basic_stats_strong.json
  configs/spmd/large_scale/covariance.json
  configs/spmd/large_scale/covariance_strong.json
  configs/spmd/large_scale/dbscan.json
  configs/spmd/large_scale/dbscan_strong.json
  configs/spmd/large_scale/forest_max_samples.json
  configs/spmd/large_scale/forest_no_max_samples.json
  configs/spmd/large_scale/knn_strong.json
  configs/spmd/large_scale/knn_tier1.json
  configs/spmd/large_scale/knn_tier2.json
  configs/spmd/large_scale/linreg.json
  configs/spmd/large_scale/linreg_strong.json
  configs/spmd/large_scale/logreg.json
  configs/spmd/large_scale/logreg_strong.json
  configs/spmd/large_scale/pca.json
  configs/spmd/large_scale/pca_strong.json
Owners: @Alexsandruss

Fix comparison for `indifferent` metric type in report
  sklbench/report/implementation.py
Owners: @Alexsandruss

Fix comparison for `indifferent` metric type in report (#177)
  sklbench/report/implementation.py
Owners: @Alexsandruss

logic updates
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/transformer.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Rolled back the accidental changes to the ranked_based distributed_split.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

fix large scale CI
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Updated large scale 2k parameters for the full 24576 tiles.
  configs/spmd/large_scale/large_scale.json
Owners: @Alexsandruss

Updated config files.
  configs/spmd/large_scale/kmeans.json
  configs/spmd/large_scale/kmeans_narrow_weak.json
  configs/spmd/large_scale/kmeans_strong.json
  configs/spmd/large_scale/kmeans_wide_weak.json
Owners: @Alexsandruss

cleaned up diff.
  sklbench/utils/common.py
Owners: @Alexsandruss

black
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Reformatted correctly.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Fixed if else.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

minimize incremental
  configs/incremental.json
  configs/spmd/large_scale/incremental.json
  configs/spmd/large_scale/incremental/basic_stats.json
  configs/spmd/large_scale/incremental/covariance.json
  configs/spmd/large_scale/incremental/linear_model.json
  configs/spmd/large_scale/incremental/pca.json
  configs/spmd/large_scale/spmd_for_online.json
  configs/spmd/large_scale/spmd_for_online_strong.json
  test-configuration-linux.yml
  test-configuration-win.yml
Owners: @Alexsandruss

black
  sklbench/benchmarks/sklearn_estimator.py
Owners: @Alexsandruss

align custom function with skl estimator
  sklbench/benchmarks/custom_function.py
Owners: @Alexsandruss

Updated format.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Added mpi4py
  envs/conda-env-rapids.yml
  envs/conda-env-sklearn.yml
Owners: @Alexsandruss, @ethanglaser

Update sklbench/utils/measurement.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Update sklbench/utils/measurement.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Update sklbench/utils/measurement.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Update sklbench/utils/measurement.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

fixed mpi4py
  envs/conda-env-rapids.yml
  envs/conda-env-sklearn.yml
  sklbench/datasets/transformer.py
Owners: @Alexsandruss, @ethanglaser

Rolled back mpi4py.
  envs/conda-env-rapids.yml
  envs/conda-env-sklearn.yml
Owners: @Alexsandruss, @ethanglaser

Formatted file.
  sklbench/datasets/transformer.py
Owners: @Alexsandruss

Removed environment from diff.
  sklbench/report/implementation.py
Owners: @Alexsandruss

.github/CODEOWNERS:

# benchmarking config files
configs                    @Alexsandruss
configs/spmd/*             @ethanglaser
configs/regular/xgboost*   @razdoburdin
# sklbench implementation and associated docs
sklbench                   @Alexsandruss
# all documentation files
*.md                       @Alexsandruss
# dependencies files
requirements*.txt          @Alexsandruss @ethanglaser
conda-env-*.yml            @Alexsandruss @ethanglaser
# repository utilities
/.*                        @Alexsandruss
/*.yml                     @Alexsandruss
/*.toml                    @Alexsandruss
